// ----------------------------------------------------- Variables //

$nav-height: 60px;


// --------------------------------------------------------- Fonts //



// -------------------------------------------------------- Mixins //



// --------------------------------------------------------- Setup //

html {
    scroll-behavior: smooth;
  }


// -------------------------------------------------------- Resets //



// ---------------------------------------------------------- Temp //

.qqq {
    min-height: 200px;
}
