// -------------------------------------------------- Import Fonts //

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Montserrat:wght@500;800&display=swap');


// ----------------------------------------------------- Variables //

// - Fonts - //
$heading-text: 'Montserrat', sans-serif;

// - Colors - Standard //
$white: #ffffff;
$black: #000000;
$dark-grey: #424242;

// - Colors - Python //
$granite-grey: #646464;
$cyan-blue-azure: #4b8bbe;
$lapis-lazuli: #306998;
$shandy: #ffe873;
$sunglow: #ffd43b;

// - Colors - Other Tech //
$html-red: #e44d26;
$css-blue: #264de4;
$sass-pink: #cd6799;
$js-yellow: #f7df1e;
$jquery-blue: #0769ad;
$d3-orange: #faad1e;
$bootstrap-purple: #7952b3;
$django-green: #092e20;
$postgresql-blue: #336791;
$mongodb-green: #3fA037;

// - Other - //
$nav-height: 100px;


// -------------------------------------------------------- Mixins //

@mixin section-padding {
    padding: 8rem 0 10rem;
}


// --------------------------------------------------------- Setup //

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(250, 250, 250, 0.9);
}

a {
    color: $black;

    &:hover {
        text-decoration: none;
        color: $black;
    }
}

.hidden {
    display: none;
}


// -------------------------------------------------------- Resets //

h1 {
    font-family: $heading-text;
    font-weight: 800;
    font-size: 3.2rem;
    word-wrap: break-word;

    @media (min-width:380px) {
        font-size: 4rem;
    }
    @media (min-width: 576px) {
        font-size: 5rem;
    }
}

h2 {
    font-family: $heading-text;
    font-weight: 800;
    font-size: 3rem;
    color: $granite-grey;
    margin-bottom: 3rem;
}

h3 {
    font-family: $heading-text;
    font-weight: 800;
    font-size: 2rem;
    color: $granite-grey;
    margin-bottom: 1rem;
}

