// ------------------------------------------------------- Headers //

.header-white {
    color: $white;
}

.header-grey {
    color: $granite-grey;
}

.header-blue {
    color: $cyan-blue-azure;
}

.header-yellow {
    color: $shandy;
}


// --------------------------------------------------- Backgrounds //

.bg-grey {
    background-color: $dark-grey;
}

.bg-py-yellow {
    background-color: $shandy;
}

.bg-py-blue {
    background-color: $cyan-blue-azure;
}

.bg-html-red {
    background-color: $html-red;
}

.bg-css-blue {
    background-color: $css-blue;
}

.bg-sass-pink {
    background-color: $sass-pink;
}

.bg-js-yellow {
    background-color: $js-yellow;
}

.bg-jquery-blue {
    background-color: $jquery-blue;
}

.bg-bootstrap-purple {
    background-color: $bootstrap-purple;
}

.bg-django-green {
    background-color: $django-green;
}

.bg-postgresql-blue {
    background-color: $postgresql-blue;
}

.bg-mongodb-green {
    background-color: $mongodb-green;
}

.bg-django-green {
    background-color: $django-green;
}

