// -------------------------------------------------------- navbar //

// spacing between nav elements
.navbar ul {
    li {
        padding: 0 0.2rem;
    }

    i {
        color: grey;
        font-size: .4rem;
        margin-top: 18px;
    }
}

.navbar-toggler {
    border: none;
    padding: 0;
    font-size: 2rem;
}

.nav-spacer {
    height: $nav-height;
}