// -------------------------------------------------- All Sections //

.inline-link {
    color: $granite-grey;
    transition: 0.3s;

    &:hover {
        text-decoration: none;
        color: $black;
    }
}

// ----------------------------------------------------------- Hey //

#hey {
    padding: 5rem 0 8rem;
}

.gradient-text {
    // Fallback Background Color
    background-color: $cyan-blue-azure;

    // Gradient
    background-image: linear-gradient(90deg, $cyan-blue-azure, $shandy);

    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

// ------------------------------------------------------ About Me //

#about-me {
    @include section-padding;
}

.picture-frame {
    background-color: $dark-grey;
    color: $white;
    margin-top: -3rem;
    padding: 1.2rem;
    transform: rotate(5deg);

    img {
        margin-bottom: 1.2rem;
    }
}

.me-pic {
    border-bottom: 1px solid black;
    margin-top: -5.6rem;
    width: 300px;
    height: 300px;
}

.push-pin {
    position: relative;
    z-index: 100;
    top: -40px;
    right: 10px;
}

// ------------------------------------------------------ Projects //

#projects {
    @include section-padding;
}

.project-block {
    margin-top: 5rem;
    // margin-bottom: 5rem;
}

.project-image {
    max-width: 100%;
}

.image-border {
    border: 2px solid $granite-grey;
}

.square-fa-button {
    font-size: 0.7rem;
    border: 1px solid $black;
    padding: 0.3rem 0.5rem;
    margin-right: 0.6rem;
    border-radius: 0.2rem;
}

.site-label {
    font-size: 0.7rem;
    border: 2px solid $black;
    padding: 0.3rem 0.5rem;
    margin-right: 0.6rem;
    border-radius: 0.2rem;
    box-shadow: 4px 4px $granite-grey;
}

// -------------------------------------------------------- Skills //

#skills {
    padding: 8rem 0 10rem;
}

.logo-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.tech-logo {
    display: inline-block;
    background-color: $white;
    border: 3px solid $dark-grey;
    padding: 0.6rem;
    // margin-bottom: 1rem;
    // margin-right: 1rem;
    margin: 0.5rem;

    @media (min-width: 400px) {
        border: 4px solid $dark-grey;
        padding: 0.8rem;
    }

    @media (min-width: 768px) {
        border: 5px solid $dark-grey;
        padding: 1rem;
    }

    img {
        height: 30px;

        @media (min-width: 400px) {
            height: 40px;
        }

        @media (min-width: 768px) {
            height: 50px;
        }
    }
}

.flex-line-break {
    @media (max-width: 767px){
        width: 100%;
    }
    
}


// -------------------------------------------------------- Say Hi //

#say-hi {
    padding: 8rem 0 10rem;
}

.email-box {
    height: 240px;
    border-radius: 0.3rem;

    @media (min-width: 992px) {
        color: $white;
        background-color: $dark-grey;
    }
}
