// -------------------------------------------------- All Sections //


// ----------------------------------------------------------- Hey //

#hey {
    padding: 5rem 0 8rem;
}

.gradient-text {
    // Fallback Background Color
    background-color: $cyan-blue-azure;
    
    // Gradient
    background-image: linear-gradient(90deg, $cyan-blue-azure, $shandy);
    
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}


// ------------------------------------------------------ About Me //

#about-me {
    padding: 8rem 0 10rem;
}

.me-pic {
    border-bottom: 1px solid black;
}


// ------------------------------------------------------ Projects //

#projects {
    padding: 8rem 0 10rem;
}

.project-image {
    // height: 300px;
    // width: auto;
    max-width: 100%;
    border: 2px solid $granite-grey;
    
}

.gh-label {
    font-size: .7rem;
    border: 1px solid $black;
    padding: .3rem .5rem;
    margin-right: .6rem;
    border-radius: .2rem;
    // box-shadow: 3px 3px $granite-grey;

    &:hover {
        // box-shadow: none;
        // transform:translate(4px,4px);
        // animation: buttonPressDown .2s;
        // animation-fill-mode: forwards;
        // font-weight: 700;
    }
}

@keyframes buttonPressDown {
    from {
        box-shadow: 3px 3px $granite-grey;
        transform:translate(0)
    };
    to {
        box-shadow: 1px 1px $granite-grey;
        transform:translate(2px,2px)
    };
}

.site-label {
    font-size: .7rem;
    border: 2px solid $black;
    padding: .3rem .5rem;
    margin-right: .6rem;
    border-radius: .2rem;
    box-shadow: 4px 4px $granite-grey;
}

// -------------------------------------------------------- Skills //

#skills {
    padding: 8rem 0 10rem;
}


// -------------------------------------------------------- Say Hi //

#say-hi {
    padding: 8rem 0 10rem;
}